@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Startpage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

@* <main style="display: flex; flex-direction: column; padding:20px; font-size:50px; color: #FECC02; background-color:#006AA7;">
    <h1>  @Model.Value("titelTextH1")</h1>
</main> *@


@Html.GetBlockListHtml(Model.BlockArea)