@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.TestPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
@Model.Value("testTitel")

@* <h1><@Model.Titel></h1> *@


@*@Html.GetBlockListHtml(Model.MainArea)*@

@* @Model.Value("textArea") *@
@Html.GetBlockListHtml(Model.textArea);